.profile {
  width: 250px;
  height: 330px;
  margin: 0 auto;
  padding-top: 32px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, 0.2);
}

.avatar {
  display: block;
  margin: auto;
  border-radius: 50%;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  width: 99px;
  height: 99px;
}
.name {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: rgb(18, 34, 54);
  font-weight: bold;
  text-align: center;
}
.tag,
.location {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: rgb(118, 134, 150);
  text-align: center;
}
.stats {
  border-style: solid;
  border-width: 1px;
  background-color: #f3f6f9;
  border: none;
  height: 80px;
  list-style: none;
  font-size: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.stats > li {
  display: inline-block;
  width: 33%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 20px;
}
.stats > li:nth-of-type(-n + 2) {
  border-right: 1px solid hsl(215, 29%, 80%);
}
.label {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: rgb(118, 134, 150);
  line-height: 1;
  text-align: center;
  display: block;
}
.quantity {
  display: block;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: rgb(31, 51, 73);
  line-height: 2.286;
  text-align: center;
}
